.academyName{
margin-top:-10px;
/* background-color:#666; */
height:30px;
text-align: center;
height:40px;
}
.makeItCenter{
	margin-top:auto;
}
.pbRed{
	background-color: rgba(221, 55, 11, 0.20)!important;
}
.pbOrange{
	background-color: rgba(248, 194, 8, 0.20)!important;
}
.pbYellow{
	background-color: rgba(246, 243, 11, 0.20)!important;
}
.pbGreen{
	background-color: rgba(47, 252, 6, 0.20)!important;
}
.pbCyan{
	background-color: rgba(6, 252, 226, 0.20)!important;
}
.pbBlue{
	background-color: rgba(6, 113, 252, 0.20)!important;
}
.pbPink{
	background-color: rgba(220, 6, 252, 0.20)!important;
}
.blankBack{
	background-color:white!important;
}
.changeBold{
	font-weight:bold;
	color:#DC143C!important;
}