ul li{
	list-style:none;
	margin-top:7px;
	margin-left:20px;
}
ul li span:nth-child(3){
	float:right;
	padding-right:10px;
	
}
ul li span:nth-child(2){
	float:right;
	margin-right:0px;
}
.panel-heading{
	font-weight:bold;
	text-align:center;
}
.buttoncenter{
	height:50px;
	width:110px;
	padding-top:7px;
	margin-left:auto;
	margin-right:auto;
}