table th{
	text-align:center;
}

.classAndTeam {
border:2px solid #fff;
 background-color:#F0F8FF; 
width:300px;
height:auto;
position:absolute;
top:230px;
left:540px;
z-index:2;
border-radius: 10px;
display:none;
}
.classAndTeam ol{
padding-top:5px;
padding-left:10px;
}
.classAndTeam ol li{
	display:inline;
	padding-right:10px;

}
.classInfo{
	display:inline;
}
.classInfo li{
	display:inline;
	margin-right:10px;
}
.buttonGroup button{
	margin-left:2px;
}
#classes,#teams{
	display:inline-block;
	margin:5px;
font-size:15px;
font-weight:bold;
color:gray;

}

.groups{
border-bottom:4px solid #fff;
}