*{
margin:0px;
padding:0px;
}
.search{
	margin:10px 0px;
	
}
a:link {
	color: gray;
	text-decoration: none;
}
a:visited {
	color: gray;
	text-decoration: none;
}
a:hover {
	color: green;
	text-decoration: none;
}
a:active {
	color: white;
	text-decoration: none;
}
.thumbnail {
	background: lightblue;
}

.col-md-2
{
	padding-left: 0px;
	padding-right: 0px;
}
/*made by cz*/
#footer{
	
background:gray;
height:40px;
text-align:center;
margin-top:10px;
}
#footer p{
	
padding-top:10px;
}

 .breadcrumb{
	margin-bottom:0px;
}
.container-fluid{
	margin-top: 0;
}
#alertdiv{
	margin-top:5px;
	margin-bottom:5px;
}