*{
	margin:0px;
	padding:0px;
}
body{
	font-size:16px;
}
.panel-heading h3{
font-weight: bold;
}
.panel-heading a{
	float:right;
	text-decoration:none;
}
#suggestion{
	list-style:none;
	line-height:28px;
	margin-left:15px;
}
#suggestion li a{
	text-decoration:none;
}
#suggestion li a span:nth-child(1){
	margin-left:20px;
}
#suggestion li a span:nth-child(2){
	float:right;
	margin-right:5px;
}