*{
	margin:0px;
	padding:0px;
}
body{
	font-size:16px;
}
.panel-heading h3{
text-align:center;
font-weight: bold;
}
.panel-heading a{
	float:right;
	text-decoration:none;
}
#suggestion{
	list-style-type:none;
}
#suggestion li{
	height:30px;
}
#suggestion li a{
	text-decoration:none;
}
#suggestion li a span:nth-child(1){
	margin-left:20px;
}
#suggestion li a span:nth-child(2){
	float:right;
	margin-right:5px;
	color:red;
}
#suggestion li a span:nth-child(3){
	float:right;
	margin-right:5px;
	color:DarkGray;
}
#suggestion li a span:nth-child(4){
	float:right;
	margin-right:5px;
	color:DarkGray;
}
#newView{
	color: #DB70DB;
}
#textareaDiv{
	margin-bottom:10px;
}