*{
	margin:0px;
	padding:0px;
}
#Layer1{
	position:fixed; 
	width:100%; 
	height:100%;
	 z-index:-10;
}
#topImg{
	margin-top:-20px;
}
#topImg img{
	height:150px;
	width:100%; 
}
#frameLeft{
	width:20%;
	margin-top:20px;
	float:left;
}
#frameCenter{
width:60%;
float:left;
margin:20px;
}
#frameRight{
	width:17%;
	float:left;
	margin-top:20px;
}
.panel-heading img{
	width:150px;
	height:150px;
	margin-left:25px;
}

#bttonBasicInfo{
margin:10px 0px;
	width:150px;
	margin-left:18px;
}
form input,form select{
	width:75%;
	height:30px;
}
form p{
	margin-left:20px;
	color:gray;
}
#instruQualify,#contactInfo{
	width:65%;
}
#btnGroup{
	margin-left:50%;
}
.ulGroup{
list-style:none;
margin:2px 5px;
margin-left:20px;
font-size:16px;
}
.ulGroup li{
	width:100%;
	height:30px;
}
.ulGroup li span{
	float:right;
	display:none;
	
}
.navToteacher{
	font-size:16px;
	font-weight:bold;
	cursor:pointer;
}
.panel-heading span{
	float:right;
	cursor:pointer;
}
.setColor{
	background-color:#FFFFCC;
}
form{
	font-size:16px;
}
