* {
	margin: 0px;
	padding: 0px;
	font-size:16px;
}
body{
	background-color:#e3eefd;
	
}
.navbar-default {
  background-color: gray;
  border-color:gray;
}

#header {
	height: 150px; 
	overflow: hidden;
}
#navbarStyle{
margin-top:-17px;	
	
}
#PersonalPageName{
	font-weight:bold;
color:#fff;
	
}
#bs-example-navbar-collapse-1 ul li a{
	color:#fff;
}
#bs-example-navbar-collapse-1 ul li a:focus,#bs-example-navbar-collapse-1 ul li a:hover{
	color:#cefbda;
}
#navigation {
	background-color: #66CCFF;
	margin-top: -16px;
	margin-left: 7px;
	
}

#navigation ul {
	width: 100%;
	font-size: 18px;
	font-weight: blod;
	color: #fff;
}

#navigation ul li:first-child {
	display: inline-block;
	margin-left: 50px;
	border-right: 2px solid;
	padding-right: 30px;
	height:45px;
	padding-top:10px;
}

#navigation ul li {
	display: inline-block;
	border-right: 2px solid;
	height:45px;
	padding-top:10px;
}

#navigation ul li a {
	color: #fff;
	padding: 0px 15px;
	text-decoration: none;
}


#navigation ul li a:hover, #navigation ul li a:active {
	color:#003399;
}

#basicInfo {
	margin-left: 5px;
}
#newsList{
list-style: none;

}
#newsList li{
	line-height:30px;
	font-size:18px;
}
#newsList li span{
	float:right;
}
.newsTitle{
	
	text-align:center;
}
.newsTime{
	text-align:center;
	color:gray;
}
.newsContent{
	text-indent: 2em;
}
#footer {
	text-align: center;
	width: 100%;
	clear: both;
}

#footer p {
	background-color: gray;
	height: 35px;
	padding-top: 10px;
}