body{
	font-size:16px;
}
#title{
	text-align:center;
	font-weight:bold;
	color:blue;
}
.panel-heading{
	font-weight:bold;
}
li span{
	
	float:right;
	margin-right:20px;
}
.contenList{
	display:none;
}