*{
	margin:0px;
	padding:0px;
}
body{
	font-size:16px;
}
.panel-heading h3{
text-align:center;
font-weight: bold;
}
a:link{
text-decoration:none;
}
a:visited{
text-decoration:none;
}
a:hover{
text-decoration:none;
}
a:active{
text-decoration:none;
}
#mainUl{
	list-style-type:none;
}
#mainUl li div span:nth-child(1) {
	background-color:rgb(245,245,245);
	height:30px;
	display:block;
	border-radius:6px;
	line-height:30px;
}

#mainUl li div span label:nth-child(2){
	text-decoration:none;
	color:DarkGray;
	font-weight:normal;
	font-size:16px;
	margin-bottom:0px;
}
/* #mainUl li div span:nth-child  label:nth-child(2){
	color:DarkGray;
	font-weight:normal;
	font-size:16px;
	margin-bottom:0px;
}
#mainUl li div span:nth-child  label:nth-child(3){
	color:DarkGray;
	font-weight:normal;
	font-size:16px;
	margin-bottom:0px;
}
#mainUl li div span:nth-child  {
	font-weight:normal;
	font-size:16px;
	margin-bottom:0px;
} */
#mainUl li div span label:nth-child(3){
	background-color: Transparent; 
	border-style :none;
	font-weight:normal;
	color:red;
}
#bottomDiv{
	width:100%;
}
#picDiv{
	float:left;
	display:inline;
} 
#contentDiv{
	float:left;
	display:inline;
	padding-left:10px;
}
#clearBothDiv{
	clear:both;
}